In [1]:
import pandas
from pandas import DataFrame
%matplotlib inline
import seaborn
from sklearn.ensemble import ExtraTreesRegressor
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn import cross_validation

import numpy
import math

In [2]:
train_df = DataFrame.from_csv("train.csv", index_col=['Store', 'Date'], parse_dates=['Date'])
train_df.reset_index(inplace=True)
train_df.head()

/opt/conda/lib/python3.4/site-packages/pandas/io/parsers.py:1170: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  data = self._reader.read(nrows)

,Store,Date,DayOfWeek,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,2015-07-31,5,5263,555,1,1,0,1
1,2,2015-07-31,5,6064,625,1,1,0,1
2,3,2015-07-31,5,8314,821,1,1,0,1
3,4,2015-07-31,5,13995,1498,1,1,0,1
4,5,2015-07-31,5,4822,559,1,1,0,1

In [3]:
test_df = DataFrame.from_csv("test.csv", index_col=['Store', 'Date'], parse_dates=['Date'])
test_df.reset_index(inplace=True)
test_df.head()

   Store       Date  Id  DayOfWeek  Open  Promo StateHoliday  SchoolHoliday
0      1 2015-09-17   1          4     1      1            0              0
1      3 2015-09-17   2          4     1      1            0              0
2      7 2015-09-17   3          4     1      1            0              0
3      8 2015-09-17   4          4     1      1            0              0
4      9 2015-09-17   5          4     1      1            0              0

# "Train" the model: Calculate mean per group over full training set

In [4]:
train_df = train_df[train_df['Sales'] > 0]
train_df['Open'] = train_df['Open'].fillna(1)

In [5]:
def calculate_means(df):
    means = df.groupby([ 'Store', 'DayOfWeek', 'Promo' ])['Sales'].mean()
    means = means.reset_index()
    return means

means = calculate_means(train_df)
train_df = pandas.merge(train_df, means, on = ['Store','DayOfWeek','Promo'], how='left', suffixes=["", "_predicted"])
train_df['Sales_predicted'] = train_df['Sales_predicted'].fillna(train_df['Sales_predicted'].mean())

In [24]:
means.head()

   Store  DayOfWeek  Promo        Sales
0      1          1      0  4310.446429
1      1          1      1  5852.708333
2      1          2      0  3897.145161
3      1          2      1  5364.597222
4      1          3      0  3869.590164

### Score the model

In [6]:
def score(predicted, actual): # RootMeanSquaredPercentError RMSPE
    score_df = DataFrame.from_dict({"Predicted": predicted, "Actual": actual})
    score_df = score_df[score_df['Actual'] != 0]
    score_df['PercentError'] =  (score_df['Actual'] - score_df['Predicted']) / score_df['Actual']
    score_df['PercentErrorSquared'] = score_df['PercentError'] * score_df['PercentError']
    
    return math.sqrt(score_df['PercentErrorSquared'].mean())

In [7]:
score_df = train_df[['Sales', 'Sales_predicted']].copy()
score_df = score_df[score_df['Sales'] != 0]
score_df['PercentError'] =  (score_df['Sales'] - score_df['Sales_predicted']) / score_df['Sales']
score_df['PercentErrorSquared'] = score_df['PercentError'] * score_df['PercentError']
math.sqrt(score_df['PercentErrorSquared'].mean())

0.22978844842293555

## Featurize and save

In [8]:
train_df.set_index(['Date', 'Store'], inplace=True)
test_df.set_index(['Date', 'Store'], inplace=True)

In [9]:
train_df['Sales-prediction_mean_error'] = (train_df['Sales_predicted'] - train_df['Sales']) / train_df['Sales']
train_df['Sales-prediction_mean_error'] = train_df['Sales-prediction_mean_error'].fillna(0) # when sales is 0, sales_predicted is nan.

In [13]:
train_df[['Sales_predicted', 'Sales-prediction_mean_error']].to_csv("train-features-predicted_mean.csv")

In [18]:
test_df.reset_index(inplace=True)

In [19]:

test_df = pandas.merge(test_df, means, on = ['Store','DayOfWeek','Promo'], how='left')

In [22]:
test_df

,Date,Store,Id,DayOfWeek,Open,Promo,StateHoliday,SchoolHoliday,Sales_predicted
0,2015-09-17,1,1,4,1,1,0,0,4961.029412
1,2015-09-17,3,2,4,1,1,0,0,7994.426471
2,2015-09-17,7,3,4,1,1,0,0,9406.309859
3,2015-09-17,8,4,4,1,1,0,0,7194.929577
4,2015-09-17,9,5,4,1,1,0,0,6777.617647
5,2015-09-17,10,6,4,1,1,0,0,5844.126761
6,2015-09-17,11,7,4,1,1,0,0,8613.845070
7,2015-09-17,12,8,4,1,1,0,0,8490.760563
8,2015-09-17,13,9,4,1,1,0,0,5578.750000
9,2015-09-17,14,10,4,1,1,0,0,6157.676471
10,2015-09-17,15,11,4,1,1,0,0,7375.676056
11,2015-09-17,16,12,4,1,1,0,0,8414.352941
12,2015-09-17,19,13,4,1,1,0,0,7344.352941
13,2015-09-17,20,14,4,1,1,0,0,9252.196078
14,2015-09-17,21,15,4,1,1,0,0,6271.308824
15,2015-09-17,22,16,4,1,1,0,0,4974.352941
16,2015-09-17,23,17,4,1,1,0,0,6259.647059
17,2015-09-17,24,18,4,1,1,0,0,10108.852941
18,2015-09-17,25,19,4,1,1,0,0,12513.681818
19,2015-09-17,27,20,4,1,1,0,0,10545.191176
20,2015-09-17,29,21,4,1,1,0,0,7614.161765
21,2015-09-17,30,22,4,1,1,0,0,6253.588235
22,2015-09-17,31,23,4,1,1,0,0,6361.281690
23,2015-09-17,32,24,4,1,1,0,0,4679.230769
24,2015-09-17,33,25,4,1,1,0,0,8701.588235
25,2015-09-17,35,26,4,1,1,0,0,10997.985294
26,2015-09-17,36,27,4,1,1,0,0,9593.365385
27,2015-09-17,38,28,4,1,1,0,0,6248.338235
28,2015-09-17,39,29,4,1,1,0,0,5563.647059
29,2015-09-17,40,30,4,1,1,0,0,5232.323529
...,...,...,...,...,...,...,...,...,...
41058,2015-08-01,1077,41059,6,1,0,0,0,2975.248120
41059,2015-08-01,1078,41060,6,1,0,0,0,5522.526316
41060,2015-08-01,1079,41061,6,1,0,0,1,6523.126866
41061,2015-08-01,1080,41062,6,1,0,0,0,10122.240741
41062,2015-08-01,1083,41063,6,1,0,0,1,5491.783582
41063,2015-08-01,1084,41064,6,1,0,0,1,5828.843284
41064,2015-08-01,1086,41065,6,1,0,0,1,5031.947761
41065,2015-08-01,1087,41066,6,1,0,0,1,6031.261194
41066,2015-08-01,1088,41067,6,1,0,0,0,3184.248120
41067,2015-08-01,1089,41068,6,1,0,0,0,10358.646617
41068,2015-08-01,1091,41069,6,1,0,0,0,6911.649254
41069,2015-08-01,1092,41070,6,1,0,0,0,13353.388889
41070,2015-08-01,1094,41071,6,1,0,0,0,5685.953704
41071,2015-08-01,1096,41072,6,1,0,0,0,4701.233083
41072,2015-08-01,1097,41073,6,1,0,0,0,7417.164179
41073,2015-08-01,1099,41074,6,1,0,0,0,7337.410448
41074,2015-08-01,1100,41075,6,1,0,0,0,3416.465649
41075,2015-08-01,1101,41076,6,1,0,0,0,8388.126866
41076,2015-08-01,1102,41077,6,1,0,0,0,6873.703704
41077,2015-08-01,1103,41078,6,1,0,0,1,4928.731343
41078,2015-08-01,1104,41079,6,1,0,0,0,5977.527778
41079,2015-08-01,1105,41080,6,1,0,0,0,4263.706767
41080,2015-08-01,1106,41081,6,1,0,0,0,2947.343284
41081,2015-08-01,1107,41082,6,1,0,0,0,5493.250000
41082,2015-08-01,1109,41083,6,1,0,0,0,3677.333333
41083,2015-08-01,1111,41084,6,1,0,0,0,3313.451128
41084,2015-08-01,1112,41085,6,1,0,0,0,8656.992481
41085,2015-08-01,1113,41086,6,1,0,0,0,5893.574627
41086,2015-08-01,1114,41087,6,1,0,0,0,21935.500000
41087,2015-08-01,1115,41088,6,1,0,0,1,6773.388060

In [20]:
test_df['Sales_predicted'] = test_df['Sales']
del test_df['Sales']

In [21]:
test_df['Sales-prediction_mean_error'] = (test_df['Sales_predicted'] - test_df['Sales']) / test_df['Sales']
test_df['Sales-prediction_mean_error'] = test_df['Sales-prediction_mean_error'].fillna(0) # when sales is 0, sales_predicted is nan.

KeyError: 'Sales'

In [ ]:
test_df[['Sales_predicted']].to_csv("test-features-predicted_mean.csv")