In [41]:
import pandas
from pandas import DataFrame
%matplotlib inline
import seaborn

### Exploring the project's data files:

In [42]:
!ls *.csv

sample_submission.csv  store.csv  test.csv  train.csv

In [43]:
# Better: train_df = DataFrame.from_csv("train.csv", index_col=['Store', 'Date'], parse_dates=['Date'])
train_df = DataFrame.from_csv("train.csv")

/opt/conda/lib/python3.4/site-packages/pandas/io/parsers.py:1170: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  data = self._reader.read(nrows)

In [44]:
train_df.head()

,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
Store,,,,,,,,
1,5,2015-07-31,5263,555,1,1,0,1
2,5,2015-07-31,6064,625,1,1,0,1
3,5,2015-07-31,8314,821,1,1,0,1
4,5,2015-07-31,13995,1498,1,1,0,1
5,5,2015-07-31,4822,559,1,1,0,1

In [45]:
print("Data Types", train_df.dtypes)

Data Types DayOfWeek         int64
Date             object
Sales             int64
Customers         int64
Open              int64
Promo             int64
StateHoliday     object
SchoolHoliday     int64
dtype: object

In [46]:
train_df.describe()

,DayOfWeek,Sales,Customers,Open,Promo,SchoolHoliday
count,1017209.000000,1017209.000000,1017209.000000,1017209.000000,1017209.000000,1017209.000000
mean,3.998341,5773.818972,633.145946,0.830107,0.381515,0.178647
std,1.997391,3849.926175,464.411734,0.375539,0.485759,0.383056
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,3727.000000,405.000000,1.000000,0.000000,0.000000
50%,4.000000,5744.000000,609.000000,1.000000,0.000000,0.000000
75%,6.000000,7856.000000,837.000000,1.000000,1.000000,0.000000
max,7.000000,41551.000000,7388.000000,1.000000,1.000000,1.000000

In [47]:
train_df['StateHoliday'].unique()

array(['0', 'a', 'b', 'c', 0], dtype=object)

In [48]:
train_df['Date'] = pandas.to_datetime(train_df['Date'])

In [49]:
len (train_df.index)

1017209

In [50]:
len (train_df.index.unique())

1115

In [51]:
train_df.reset_index(inplace=True)
train_df.set_index(['Store', 'Date'], inplace=True)
train_df.head()

,,DayOfWeek,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
Store,Date,,,,,,,
1,2015-07-31,5,5263,555,1,1,0,1
2,2015-07-31,5,6064,625,1,1,0,1
3,2015-07-31,5,8314,821,1,1,0,1
4,2015-07-31,5,13995,1498,1,1,0,1
5,2015-07-31,5,4822,559,1,1,0,1

In [70]:
store_record_counts = train_df.reset_index().groupby('Store').count()
store_record_counts.groupby('Date').count()

      DayOfWeek  Sales  Customers  Open  Promo  StateHoliday  SchoolHoliday
Date
758         180    180        180   180    180           180            180
941           1      1          1     1      1             1              1
942         934    934        934   934    934           934            934

In [77]:
store_record_counts[store_record_counts['Date'] == 941].index

Int64Index([988], dtype='int64', name='Store')

In [92]:
train_df.ix[1].index - train_df.ix[988].index

/opt/conda/lib/python3.4/site-packages/pandas/tseries/base.py:386: FutureWarning: using '-' to provide set differences with datetimelike Indexes is deprecated, use .difference()
  "use .difference()",FutureWarning)

DatetimeIndex(['2013-01-01'], dtype='datetime64[ns]', name='Date', freq=None, tz=None)

In [95]:
train_df.ix('2012-12-25':'2013-01-03', level=1)

SyntaxError: invalid syntax (<ipython-input-95-7f1b4c4d14e5>, line 1)

In [98]:
train_df.ix[1]['Date'].describe()

KeyError: 'Date'

In [99]:
 store_record_counts[store_record_counts['Date'] == 758].index

Int64Index([  13,   20,   22,   32,   36,   41,   46,   51,   52,   58,
            ...
            1056, 1065, 1067, 1080, 1092, 1094, 1102, 1104, 1107, 1109],
           dtype='int64', name='Store', length=180)

In [109]:
train_df.ix[1].index - train_df.ix[13].index

/opt/conda/lib/python3.4/site-packages/pandas/tseries/base.py:386: FutureWarning: using '-' to provide set differences with datetimelike Indexes is deprecated, use .difference()
  "use .difference()",FutureWarning)

DatetimeIndex(['2014-07-01', '2014-07-02', '2014-07-03', '2014-07-04',
               '2014-07-05', '2014-07-06', '2014-07-07', '2014-07-08',
               '2014-07-09', '2014-07-10',
               ...
               '2014-12-22', '2014-12-23', '2014-12-24', '2014-12-25',
               '2014-12-26', '2014-12-27', '2014-12-28', '2014-12-29',
               '2014-12-30', '2014-12-31'],
              dtype='datetime64[ns]', name='Date', length=184, freq=None, tz=None)

In [110]:
print (min(train_df.xs(13, level=0).index))
print (max(train_df.xs(13, level=0).index))

2013-01-01 00:00:00
2015-07-31 00:00:00

In [111]:
print (min(train_df.xs(1, level=0).index))
print (max(train_df.xs(1, level=0).index))

2013-01-01 00:00:00
2015-07-31 00:00:00