In [1]:
import pandas
from pandas import DataFrame
%matplotlib inline
import seaborn
from sklearn.ensemble import ExtraTreesRegressor
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn import cross_validation

import numpy
import math

In [2]:
train_df = DataFrame.from_csv("train.csv", index_col=['Store', 'Date'], parse_dates=['Date'])
train_df.reset_index(inplace=True)
train_df.head()

/opt/conda/lib/python3.4/site-packages/pandas/io/parsers.py:1170: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  data = self._reader.read(nrows)

,Store,Date,DayOfWeek,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,2015-07-31,5,5263,555,1,1,0,1
1,2,2015-07-31,5,6064,625,1,1,0,1
2,3,2015-07-31,5,8314,821,1,1,0,1
3,4,2015-07-31,5,13995,1498,1,1,0,1
4,5,2015-07-31,5,4822,559,1,1,0,1

In [3]:
test_df = DataFrame.from_csv("test.csv", index_col=['Store', 'Date'], parse_dates=['Date'])
test_df.reset_index(inplace=True)
test_df.head()

   Store       Date  Id  DayOfWeek  Open  Promo StateHoliday  SchoolHoliday
0      1 2015-09-17   1          4     1      1            0              0
1      3 2015-09-17   2          4     1      1            0              0
2      7 2015-09-17   3          4     1      1            0              0
3      8 2015-09-17   4          4     1      1            0              0
4      9 2015-09-17   5          4     1      1            0              0

# "Train" the model: Calculate mean per group over full training set

In [4]:
train_df = train_df[train_df['Customers'] > 0]
train_df['Open'] = train_df['Open'].fillna(1)

In [5]:
def calculate_means(df):
    means = df.groupby([ 'Store', 'DayOfWeek', 'Promo' ])['Customers'].mean()
    means = means.reset_index()
    return means

means = calculate_means(train_df)
train_df = pandas.merge(train_df, means, on = ['Store','DayOfWeek','Promo'], how='left', suffixes=["", "_predicted"])
train_df['Customers_predicted'] = train_df['Customers_predicted'].fillna(train_df['Customers_predicted'].mean())

In [6]:
means.head()

   Store  DayOfWeek  Promo   Customers
0      1          1      0  544.482143
1      1          1      1  633.194444
2      1          2      0  498.774194
3      1          2      1  593.069444
4      1          3      0  496.311475

### Score the model

In [7]:
def score(predicted, actual): # RootMeanSquaredPercentError RMSPE
    score_df = DataFrame.from_dict({"Predicted": predicted, "Actual": actual})
    score_df = score_df[score_df['Actual'] != 0]
    score_df['PercentError'] =  (score_df['Actual'] - score_df['Predicted']) / score_df['Actual']
    score_df['PercentErrorSquared'] = score_df['PercentError'] * score_df['PercentError']
    
    return math.sqrt(score_df['PercentErrorSquared'].mean())

In [8]:
score_df = train_df[['Customers', 'Customers_predicted']].copy()
score_df = score_df[score_df['Customers'] != 0]
score_df['PercentError'] =  (score_df['Customers'] - score_df['Customers_predicted']) / score_df['Customers']
score_df['PercentErrorSquared'] = score_df['PercentError'] * score_df['PercentError']
math.sqrt(score_df['PercentErrorSquared'].mean())

0.5216687926418426

## Featurize and save

In [9]:
train_df.set_index(['Date', 'Store'], inplace=True)
test_df.set_index(['Date', 'Store'], inplace=True)

In [10]:
train_df['Customers-prediction_mean_error'] = (train_df['Customers_predicted'] - train_df['Customers']) / train_df['Customers']
train_df['Customers-prediction_mean_error'] = train_df['Customers-prediction_mean_error'].fillna(0) # when sales is 0, sales_predicted is nan.

In [11]:
train_df[['Customers_predicted', 'Customers-prediction_mean_error']].to_csv("train-features-predicted_mean-customers.csv")

In [12]:
test_df.reset_index(inplace=True)

In [13]:

test_df = pandas.merge(test_df, means, on = ['Store','DayOfWeek','Promo'], how='left')

In [14]:
test_df

,Date,Store,Id,DayOfWeek,Open,Promo,StateHoliday,SchoolHoliday,Customers
0,2015-09-17,1,1,4,1,1,0,0,571.735294
1,2015-09-17,3,2,4,1,1,0,0,833.779412
2,2015-09-17,7,3,4,1,1,0,0,987.112676
3,2015-09-17,8,4,4,1,1,0,0,853.436620
4,2015-09-17,9,5,4,1,1,0,0,590.500000
5,2015-09-17,10,6,4,1,1,0,0,615.422535
6,2015-09-17,11,7,4,1,1,0,0,1180.929577
7,2015-09-17,12,8,4,1,1,0,0,953.549296
8,2015-09-17,13,9,4,1,1,0,0,411.788462
9,2015-09-17,14,10,4,1,1,0,0,686.147059
10,2015-09-17,15,11,4,1,1,0,0,704.704225
11,2015-09-17,16,12,4,1,1,0,0,935.705882
12,2015-09-17,19,13,4,1,1,0,0,683.867647
13,2015-09-17,20,14,4,1,1,0,0,1043.431373
14,2015-09-17,21,15,4,1,1,0,0,562.647059
15,2015-09-17,22,16,4,1,1,0,0,545.274510
16,2015-09-17,23,17,4,1,1,0,0,533.720588
17,2015-09-17,24,18,4,1,1,0,0,875.250000
18,2015-09-17,25,19,4,1,1,0,0,1734.545455
19,2015-09-17,27,20,4,1,1,0,0,1156.808824
20,2015-09-17,29,21,4,1,1,0,0,666.470588
21,2015-09-17,30,22,4,1,1,0,0,872.455882
22,2015-09-17,31,23,4,1,1,0,0,610.746479
23,2015-09-17,32,24,4,1,1,0,0,526.230769
24,2015-09-17,33,25,4,1,1,0,0,837.147059
25,2015-09-17,35,26,4,1,1,0,0,789.823529
26,2015-09-17,36,27,4,1,1,0,0,1124.961538
27,2015-09-17,38,28,4,1,1,0,0,545.573529
28,2015-09-17,39,29,4,1,1,0,0,694.985294
29,2015-09-17,40,30,4,1,1,0,0,704.838235
...,...,...,...,...,...,...,...,...,...
41058,2015-08-01,1077,41059,6,1,0,0,0,345.766917
41059,2015-08-01,1078,41060,6,1,0,0,0,452.586466
41060,2015-08-01,1079,41061,6,1,0,0,1,540.343284
41061,2015-08-01,1080,41062,6,1,0,0,0,828.759259
41062,2015-08-01,1083,41063,6,1,0,0,1,394.380597
41063,2015-08-01,1084,41064,6,1,0,0,1,764.634328
41064,2015-08-01,1086,41065,6,1,0,0,1,604.059701
41065,2015-08-01,1087,41066,6,1,0,0,1,618.970149
41066,2015-08-01,1088,41067,6,1,0,0,0,310.691729
41067,2015-08-01,1089,41068,6,1,0,0,0,1047.526316
41068,2015-08-01,1091,41069,6,1,0,0,0,597.216418
41069,2015-08-01,1092,41070,6,1,0,0,0,1237.166667
41070,2015-08-01,1094,41071,6,1,0,0,0,467.481481
41071,2015-08-01,1096,41072,6,1,0,0,0,562.481203
41072,2015-08-01,1097,41073,6,1,0,0,0,1950.910448
41073,2015-08-01,1099,41074,6,1,0,0,0,987.671642
41074,2015-08-01,1100,41075,6,1,0,0,0,451.847328
41075,2015-08-01,1101,41076,6,1,0,0,0,873.746269
41076,2015-08-01,1102,41077,6,1,0,0,0,673.935185
41077,2015-08-01,1103,41078,6,1,0,0,1,391.529851
41078,2015-08-01,1104,41079,6,1,0,0,0,479.157407
41079,2015-08-01,1105,41080,6,1,0,0,0,499.578947
41080,2015-08-01,1106,41081,6,1,0,0,0,348.694030
41081,2015-08-01,1107,41082,6,1,0,0,0,644.370370
41082,2015-08-01,1109,41083,6,1,0,0,0,341.259259
41083,2015-08-01,1111,41084,6,1,0,0,0,276.834586
41084,2015-08-01,1112,41085,6,1,0,0,0,764.526316
41085,2015-08-01,1113,41086,6,1,0,0,0,631.649254
41086,2015-08-01,1114,41087,6,1,0,0,0,3549.477612
41087,2015-08-01,1115,41088,6,1,0,0,1,482.947761

In [15]:
test_df['Customers_predicted'] = test_df['Customers']
del test_df['Customers']

In [17]:
test_df[['Customers_predicted']].to_csv("test-features-predicted_mean-customers.csv")