In [1]:
import pandas
from pandas import DataFrame
%matplotlib inline
import seaborn
from sklearn.ensemble import RandomForestRegressor

from sklearn import cross_validation

import numpy
import math

In [2]:
train_df = DataFrame.from_csv("train.csv", index_col=['Store', 'Date'], parse_dates=['Date'])
train_df.head()

/opt/conda/lib/python3.4/site-packages/pandas/io/parsers.py:1170: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  data = self._reader.read(nrows)

,,DayOfWeek,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
Store,Date,,,,,,,
1,2015-07-31,5,5263,555,1,1,0,1
2,2015-07-31,5,6064,625,1,1,0,1
3,2015-07-31,5,8314,821,1,1,0,1
4,2015-07-31,5,13995,1498,1,1,0,1
5,2015-07-31,5,4822,559,1,1,0,1

In [3]:
# Featurize
train_df.reset_index(inplace=True)
train_df['Date'] = train_df['Date'].map(lambda x: x.value)
def numericStateHoliday(x):
    if x == 'a':
        return 1
    elif x == 'b':
        return 2
    elif x == 'c':
        return 3
    else:
        return x
train_df['StateHoliday'] = train_df['StateHoliday'].map(lambda x: numericStateHoliday(x))

In [18]:
def train_and_score(training_df, features, regressor = RandomForestRegressor(n_estimators=25, n_jobs=-1) ):

    predict = cross_validation.cross_val_predict(regressor, training_df[features], training_df['Sales'], n_jobs=-1)
    
    score_df = training_df[['Sales']].copy()
    score_df['Predict'] = predict
    score_df = score_df[score_df['Sales'] != 0]
    score_df['PercentError'] =  (score_df['Sales'] - score_df['Predict']) / score_df['Sales']
    score_df['PercentErrorSquared'] = score_df['PercentError'] * score_df['PercentError']
    
    return math.sqrt(score_df['PercentErrorSquared'].mean())

In [5]:
%%time

features = [col for col in train_df.columns if col != 'Sales' and col != 'Customers']
print("Score: {}".format(train_and_score(train_df, features)))

Score: 0.40599960730318907
CPU times: user 740 ms, sys: 656 ms, total: 1.4 s
Wall time: 55.7 s

In [6]:
train_df = DataFrame.from_csv("train.csv", index_col=['Store', 'Date'], parse_dates=['Date'])
train_df.head()

/opt/conda/lib/python3.4/site-packages/pandas/io/parsers.py:1170: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  data = self._reader.read(nrows)

,,DayOfWeek,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
Store,Date,,,,,,,
1,2015-07-31,5,5263,555,1,1,0,1
2,2015-07-31,5,6064,625,1,1,0,1
3,2015-07-31,5,8314,821,1,1,0,1
4,2015-07-31,5,13995,1498,1,1,0,1
5,2015-07-31,5,4822,559,1,1,0,1

In [7]:
# Featurize v2
train_df.reset_index(inplace=True)
def numericStateHoliday(x):
    if x == 'a':
        return 1
    elif x == 'b':
        return 2
    elif x == 'c':
        return 3
    else:
        return x
train_df['StateHoliday'] = train_df['StateHoliday'].map(lambda x: numericStateHoliday(x))

In [8]:

def featurizeDate(ts): 
    features = {}
    features['cal:dayOfMonth'] = ts.day
    features['cal:dayOfWeek'] = ts.dayofweek
    features['cal:dayofyear'] = ts.dayofyear
    features['cal:month'] = ts.month
    features['cal:year'] = ts.year
    features['cal:weekofyear'] =  ts.weekofyear
    features['cal:quarter'] = ts.quarter

    return features



date_features_series = train_df['Date'].map(lambda x: featurizeDate(x))
date_features = DataFrame.from_records(date_features_series.tolist(), index=train_df['Date'])

In [9]:
len(date_features)

1017209

In [10]:
date_features.index

DatetimeIndex(['2015-07-31', '2015-07-31', '2015-07-31', '2015-07-31',
               '2015-07-31', '2015-07-31', '2015-07-31', '2015-07-31',
               '2015-07-31', '2015-07-31',
               ...
               '2013-01-01', '2013-01-01', '2013-01-01', '2013-01-01',
               '2013-01-01', '2013-01-01', '2013-01-01', '2013-01-01',
               '2013-01-01', '2013-01-01'],
              dtype='datetime64[ns]', name='Date', length=1017209, freq=None, tz=None)

In [11]:
train_df = pandas.concat([train_df, date_features.reset_index()], axis=1)

In [12]:
del train_df['Date']
# We just use the DayOfWeek param provided by Kaggle. One is 0-based, the other is 1-based, but no matter.
del train_df['cal:dayOfWeek']

In [13]:
%%time

features = [col for col in train_df.columns if col != 'Sales' and col != 'Customers']
print("Score: {}".format(train_and_score(train_df, features)))

Score: 0.33493330461709386
CPU times: user 1.08 s, sys: 964 ms, total: 2.04 s
Wall time: 1min 30s

In [14]:
from sklearn.linear_model import LinearRegression

In [19]:
%%time

features = [col for col in train_df.columns if col != 'Sales' and col != 'Customers']
print("Score: {}".format(train_and_score(train_df, features, regressor = LinearRegression())))

Score: 0.5459761049766714
CPU times: user 880 ms, sys: 780 ms, total: 1.66 s
Wall time: 4.33 s

In [ ]:
%%time

features = [col for col in train_df.columns if col != 'Sales' and col != 'Customers']
print("Score: {}".format(train_and_score(train_df, features, regressor = LinearRegression())))